/*** ALLGEMEINE EINSTELLUNGEN ***/
body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f6f3;
	color: #414640;
}
header {
	text-align: center;
	font-size: 28px;
	margin-bottom: 30px;
	padding: 20px 0;
	background-color: #e0e6dc;
} header a { /* hyperlink Homepage header */
	text-decoration: none;
	color: #414640;
}
footer {
	text-align: center;
	padding: 20px 0;
	margin-top: 30px;
	background-color: #e0e6dc;
}

/*** PLATZBEHÄLTER ***/
.container { /* Allgemeingültiger Behälter für Content */
	max-width: 900px;
	margin: 0 auto; 
	padding: 0 20px; 
}
.post { /* Behälter für Publikationen > Posts */
	background-color: #fdfdfd;
	border-radius: 8px;
	padding: 30px;
	margin-bottom: 30px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
}

/*** FONTS ***/
/* h1 für Hauptitel & header */
.post h2 { /* Untertitel & Vorschau */
	font-size: 28px;
	margin-top: 0;
	margin-bottom: 20px;
}
.post p { /* Inhalt */
	font-size: 18px;
	line-height: 1.6;
}

/*** VORSCHAU PUBLIKATIONEN ***/
.post-thumbnail-small { /* Vorschau Homepage > Bild klein */
	border-radius: 8px;
	margin-right: 30px;
	max-width: 200px;
	max-height: 200px;
	object-fit: cover;
}
.post-footer {  /* Unteren Bereich Vorschau */
	margin-top: 20px;
	text-align: right;
} .post-footer a { /* Read More innarktiv */
	color: #496266;
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s;
} .post-footer a:hover { /* Read More aktiv (hover) */
	color: #68817e;
}

/*** PUBLIKATIONEN ***/
.post-img { /* Thumbnail Blogbeitrag */ 
	text-align: center;
	margin-bottom: 20px;
}
.post-img img { /* Bildanpassung */ 
	border-radius: 8px;
	max-width: 100%;
	height: auto;
}
.content-img { /* Bilder im Inhalt der Texte */
	max-width: 800px;
	border-radius: 8px;
	display: block;
	margin: auto;
}

/*** BACK-TO-TOP ARROW ***/
.back-to-top { 
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 40px;
	height: 40px;
	background-color: #414640;
	color: #fdfdfd;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	cursor: pointer;
	display: none;
	z-index: 999;
} .back-to-top:hover {
	background-color: #fdfdfd;
	color: #414640;
}